Kuch toh crazy krna h

In [143]:

import pandas as pd

In [132]:
df = pd.read_csv('../Datasets/cases/Human_Resources_Analytics/HR_comma_sep.csv')
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.10,0.77,6,247,4,0,1,0,sales,low
3,0.92,0.85,5,259,5,0,1,0,sales,low
4,0.89,1.00,5,224,5,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14990,0.40,0.57,2,151,3,0,1,0,support,low
14991,0.37,0.48,2,160,3,0,1,0,support,low
14992,0.37,0.53,2,143,3,0,1,0,support,low
14993,0.11,0.96,6,280,4,0,1,0,support,low
14994,0.37,0.52,2,158,3,0,1,0,support,low

In [133]:
xi = df['satisfaction_level']
yi = df['left']
n = 0.1

# initalize w and b
w = 0.1
b = 0.1

In [134]:
import numpy as np
import pandas as pd

# Assuming df is your DataFrame with 'satisfaction_level' and 'left' columns
xi = df['satisfaction_level'].values
yi = df['left'].values
n = 0.1  # learning rate

# Initialize w and b
w = 0.1
b = 0.1

# Number of iterations for gradient descent
epochs = 1000

def sigmoid(z):
    """Sigmoid activation function"""
    return 1 / (1 + np.exp(-z))

def compute_loss(y_true, y_pred):
    """Binary cross-entropy loss"""
    epsilon = 1e-15  # to avoid log(0)
    y_pred = np.clip(y_pred, epsilon, 1 - epsilon)
    return -np.mean(y_true * np.log(y_pred) + (1 - y_true) * np.log(1 - y_pred))

# Gradient descent
for epoch in range(epochs):
    # Forward pass
    z = w * xi + b
    y_pred = sigmoid(z)
    
    # Compute loss (optional - for monitoring)
    loss = compute_loss(yi, y_pred)
    
    # Compute gradients
    # dabba L / dabba w = (1/m) * sum((y_pred - y_true) * xi)
    # dabba L / dabba b = (1/m) * sum(y_pred - y_true)
    
    dw = np.mean((y_pred - yi) * xi)  # ∂L/∂w
    db = np.mean(y_pred - yi)         # ∂L/∂b
    
    # Update parameters
    w = w - n * dw
    b = b - n * db
    
    # Print progress every 100 epochs
    if epoch % 100 == 0:
        print(f"Epoch {epoch}: Loss = {loss:.4f}, w = {w:.4f}, b = {b:.4f}")

print(f"\nFinal parameters: w = {w:.4f}, b = {b:.4f}")

# Make predictions
def predict(x, w, b):
    """Make predictions using the trained model"""
    z = w * x + b
    return (sigmoid(z) > 0.5).astype(int)

# Test the model
predictions = predict(xi, w, b)
accuracy = np.mean(predictions == yi)
print(f"Accuracy: {accuracy:.4f}")

Epoch 0: Loss = 0.7429, w = 0.0772, b = 0.0698
Epoch 100: Loss = 0.5211, w = -0.7496, b = -0.7029
Epoch 200: Loss = 0.5133, w = -1.0143, b = -0.6262
Epoch 300: Loss = 0.5072, w = -1.2270, b = -0.5048
Epoch 400: Loss = 0.5022, w = -1.4205, b = -0.3893
Epoch 500: Loss = 0.4978, w = -1.5988, b = -0.2832
Epoch 600: Loss = 0.4942, w = -1.7633, b = -0.1862
Epoch 700: Loss = 0.4911, w = -1.9150, b = -0.0974
Epoch 800: Loss = 0.4885, w = -2.0550, b = -0.0161
Epoch 900: Loss = 0.4862, w = -2.1842, b = 0.0585

Final parameters: w = -2.3023, b = 0.1262
Accuracy: 0.7621

# SIR'S METHOD

In [135]:
xi = df['satisfaction_level']
yi = df['left']

eta,w,b = 0.1,0.1,0.1

In [136]:
def sigmoid(z):
    return 1/(1+np.exp(-z))

dw = -np.mean((yi-sigmoid(w*xi + b)) * xi)
db = -np.mean((yi-sigmoid(w*xi + b)))

dw,db

(np.float64(0.22793621296439173), np.float64(0.3023497355658429))

NOW CALCULATE Log loss

In [137]:
from sklearn.metrics import log_loss
# y_cap = sigmoid(w*xi + b)
# L = log_loss(yi, y_cap)
# L

find the log loss for 10 iterations/epochs

In [142]:
scores = []
epochs = 1000
eta = 0.4
for i in range(epochs):
    w = w - eta*dw
    b = b - eta*db
    y_cap = sigmoid(w*xi + b)
    dw = -np.mean((yi-y_cap) * xi)
    db = -np.mean((yi-y_cap)) 
    L = log_loss(yi, y_cap)
    scores.append([w,b,L])

scores =  pd.DataFrame(scores, columns=['W','B','Log Loss'])
scores.sort_values('Log Loss')

            W         B  Log Loss
999 -3.692638  0.897570  0.473212
998 -3.692251  0.897362  0.473212
997 -3.691863  0.897152  0.473213
996 -3.691474  0.896943  0.473213
995 -3.691084  0.896732  0.473214
..        ...       ...       ...
4   -0.993666  0.224848  0.577321
3   -0.934877  0.303183  0.599713
2   -0.867828  0.394425  0.629593
1   -0.791027  0.500830  0.669687
0   -0.702832  0.624864  0.723606

[1000 rows x 3 columns]

In [139]:
scores

          W         B  Log Loss
0 -0.082349 -0.141880  0.644014
1 -0.219233 -0.313228  0.592005
2 -0.324114 -0.434932  0.563852
3 -0.406805 -0.522166  0.547942
4 -0.473875 -0.585108  0.538536
5 -0.529689 -0.630554  0.532719
6 -0.577211 -0.663133  0.528953
7 -0.618501 -0.686078  0.526393
8 -0.655028 -0.701702  0.524559
9 -0.687863 -0.711700  0.523174

TWO FEATURES

In [140]:
x1 = df['satisfaction_level'].values
x2 = df['last_evaluation'].values
yi = df['left'].values

In [141]:
scores = []
epochs = 10000
eta = 0.4
w1,w2 = 0.1,0.1

for i in range(epochs):
    y_cap = sigmoid(w1*x1 + w2*x2 + b)
    dw1 = -np.mean((yi - y_cap) * x1)  # Gradient for w1
    dw2 = -np.mean((yi - y_cap) * x2)  # Gradient for w2
    db = -np.mean(yi - y_cap) 
    L = log_loss(yi, y_cap)
    scores.append([w1,w2, b,L])
    w1 = w1 - eta*dw1
    w2 = w2 - eta*dw2
    b = b - eta*db

scores =  pd.DataFrame(scores, columns=['W1','W2','B','Log Loss'])
scores.sort_values('Log Loss')

            W1        W2         B  Log Loss
9999 -3.852970  0.509450  0.624864  0.472528
9998 -3.852970  0.509450  0.624864  0.472528
9997 -3.852970  0.509450  0.624864  0.472528
9996 -3.852970  0.509450  0.624864  0.472528
9995 -3.852970  0.509450  0.624864  0.472528
...        ...       ...       ...       ...
4    -0.055806 -0.004035 -0.857182  0.553270
3    -0.023653  0.014298 -0.831349  0.557995
2     0.012377  0.037001 -0.799513  0.564523
1     0.053200  0.065119 -0.760245  0.573717
0     0.100000  0.100000 -0.711700  0.586912

[10000 rows x 4 columns]