In [53]:
import numpy as np
import pandas as pd
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler
from tqdm import tqdm
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN

In [54]:
milk = pd.read_csv('../Datasets/milk.csv', index_col=0)
std = StandardScaler().set_output(transform='pandas')
milk_scl = std.fit_transform(milk)

In [55]:
cluster = DBSCAN(eps=0.6,min_samples=2)
cluster.fit(milk_scl)
cluster.labels_

array([ 0,  0,  0,  0, -1,  1,  1,  2, -1, -1,  2,  1,  0, -1,  1,  2, -1,
       -1, -1, -1,  3,  3, -1, -1, -1])

-1 mean they are outliers

In [56]:
milk_copy = milk.copy()
milk_copy['cluster'] = cluster.labels_ 
milk_copy.sort_values('cluster')

            water  protein   fat  lactose   ash  cluster
Animal
HIPPO        90.4      0.6   4.5      4.4  0.10       -1
PIG          82.8      7.1   5.1      3.7  1.10       -1
CAT          81.6     10.1   6.3      4.4  0.75       -1
GUINEA PIG   81.9      7.4   7.2      2.7  0.85       -1
RAT          72.5      9.2  12.6      3.3  1.40       -1
RABBIT       71.3     12.3  13.1      1.9  2.30       -1
ELEPHANT     70.7      3.6  17.6      5.6  0.63       -1
DOG          76.3      9.3   9.5      3.0  1.20       -1
WHALE        64.8     11.1  21.2      1.6  1.70       -1
DOLPHIN      44.9     10.6  34.9      0.9  0.53       -1
SEAL         46.4      9.7  42.0      0.0  0.85       -1
MULE         90.0      2.0   1.8      5.5  0.47        0
DONKEY       90.3      1.7   1.4      6.2  0.40        0
HORSE        90.1      2.6   1.0      6.9  0.35        0
MONKEY       88.4      2.2   2.7      6.4  0.18        0
ORANGUTAN    88.5      1.4   3.5      6.0  0.24        0
BISON        86.9      4.8   1.7      5.7  0.90        1
CAMEL        87.7      3.5   3.4      4.8  0.71        1
ZEBRA        86.2      3.0   4.8      5.3  0.70        1
LLAMA        86.5      3.9   3.2      5.6  0.80        1
SHEEP        82.0      5.6   6.4      4.7  0.91        2
FOX          81.6      6.6   5.9      4.9  0.93        2
BUFFALO      82.1      5.9   7.9      4.7  0.78        2
REINDEER     64.8     10.7  20.3      2.5  1.40        3
DEER         65.9     10.4  19.7      2.6  1.40        3

#### Evaluate score but before that remove the outliers as they are -1

In [57]:
inliers = milk_copy[milk_copy['cluster'] != -1]
inliers

silhouette_score(inliers.iloc[:,:-1], inliers['cluster'])

0.5828991621573324

In [58]:
inliers = milk_scl.copy()
inliers['label'] = cluster.labels_
inliers = inliers[inliers['label'] != -1]
inliers

              water   protein       fat   lactose       ash  label
Animal
HORSE      0.948806 -1.009291 -0.903208  1.542217 -1.037554      0
ORANGUTAN  0.821407 -1.344603 -0.660619  1.040773 -1.259945      0
MONKEY     0.813445 -1.121062 -0.738247  1.263637 -1.381249      0
DONKEY     0.964731 -1.260775 -0.864394  1.152205 -0.936467      0
CAMEL      0.757707 -0.757806 -0.670322  0.372182 -0.309730      1
BISON      0.694008 -0.394551 -0.835283  0.873626  0.074400      1
BUFFALO    0.311810 -0.087181 -0.233662  0.316466 -0.168208      2
FOX        0.271998  0.108418 -0.427733  0.427898  0.135052      2
LLAMA      0.662158 -0.646036 -0.689729  0.817910 -0.127774      1
MULE       0.940844 -1.176947 -0.825579  0.762194 -0.794946      0
ZEBRA      0.638270 -0.897520 -0.534472  0.650762 -0.329947      1
SHEEP      0.303847 -0.171009 -0.379215  0.316466  0.094617      2
DEER      -0.978108  1.170241  0.911359 -0.853568  1.085267      3
REINDEER  -1.065695  1.254069  0.969580 -0.909284  1.085267      3

In [59]:
silhouette_score(inliers.iloc[:,:-1], inliers['label'])

0.5934459505692155

##### Why is condition required?
because if epsilon is small enough then all lables will be -1 and since we are removing all the -1 then we wont have any data to test score on

In [71]:
epsilion = (0.2,0.4,0.6,0.8,1,1.2)
min_p = (2,3,4,5)
scores = []
for e in epsilion:
    for p in min_p:
        cluster = DBSCAN(eps=e, min_samples=p)
        cluster.fit(milk_scl)
        inliers = milk_scl.copy()
        inliers['cluster'] = cluster.labels_
        inliers = inliers[inliers['cluster'] != -1]
        if len(set(inliers['cluster'].value_counts())) > 1:
            scores.append([e,p, silhouette_score(inliers.iloc[:,:-1], inliers['cluster'])])
        else:
            continue

scores = pd.DataFrame(scores, columns=['epsilon', 'min sample', 'score'])
scores.sort_values('score', ascending=False)

    epsilon  min sample     score
0       0.4           2  0.651894
9       1.0           3  0.647387
2       0.6           2  0.593446
10      1.2           2  0.552889
4       0.6           4  0.551975
1       0.4           3  0.538518
3       0.6           3  0.534443
6       0.8           3  0.533038
5       0.8           2  0.464674
7       0.8           4  0.457151
8       1.0           2  0.434482

USING NP UNIQUE

In [69]:
epsilion = (0.2,0.4,0.6,0.8,1,1.2)
min_p = (2,3,4,5)
scores = []
for e in epsilion:
    for p in min_p:
        cluster = DBSCAN(eps=e, min_samples=p)
        cluster.fit(milk_scl)
        inliers = milk_scl.copy()
        inliers['cluster'] = cluster.labels_
        inliers = inliers[inliers['cluster'] != -1]
        if len(np.unique(inliers['cluster'])) > 1:
            scores.append([e,p, silhouette_score(inliers.iloc[:,:-1], inliers['cluster'])])
        else:
            continue

scores = pd.DataFrame(scores, columns=['epsilon', 'min sample', 'score'])
scores.sort_values('score', ascending=False)

    epsilon  min sample     score
0       0.4           2  0.651894
9       1.0           3  0.647387
2       0.6           2  0.593446
10      1.2           2  0.552889
4       0.6           4  0.551975
1       0.4           3  0.538518
3       0.6           3  0.534443
6       0.8           3  0.533038
5       0.8           2  0.464674
7       0.8           4  0.457151
8       1.0           2  0.434482

## Usage with Supervised Learning
kyphosis data

In [74]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler
# from sklearn.

In [80]:
df = pd.read_csv('..\\Datasets\\cases\\Kyphosis\\Kyphosis.csv')
y = df['Kyphosis']
X = df.drop('Kyphosis', axis=1)
train, test = train_test_split(df, test_size=0.3, random_state=25, stratify=y)
X_train, y_train = train.drop('Kyphosis', axis=1), train['Kyphosis']
X_test, y_test = test.drop('Kyphosis', axis=1), test['Kyphosis']

In [82]:
std = StandardScaler().set_output(transform='pandas')
from sklearn.cluster import KMeans

X_train_scl = std.fit_transform(X_train)
scores = []

for i in tqdm(range(2, 11)):
    clust = KMeans(random_state=25, n_clusters=i)
    clust.fit(X_train_scl)
    scores.append([i, silhouette_score(X_train_scl, clust.labels_)])

scores_df = pd.DataFrame(scores, columns=['n', 'score'])
scores_df.sort_values(by='score', ascending=False)

100%|██████████| 9/9 [00:00<00:00, 69.51it/s]

    n     score
2   4  0.396206
8  10  0.393340
7   9  0.366559
3   5  0.351667
0   2  0.348402
1   3  0.330521
6   8  0.323228
5   7  0.287655
4   6  0.285068

In [ ]:
cluster = KMeans(random_state=25, n_clusters=4)
cluster.fit(X_train)
train['cluster'] = cluster.labels_

   Kyphosis  Age  Number  Start  cluster
63   absent  118       3     16        1
45  present  139       3     10        1
66   absent  195       2     17        2
75   absent  178       4     15        2
60  present  130       4      1        1
25   absent    9       5     13        0
21  present  105       6      5        3
17   absent  175       5     13        2
58   absent   51       7      9        0
0    absent   71       3      5        3
48  present  121       3      3        1
28   absent    4       3     16        0
33   absent  112       3     16        1
3    absent    2       5      1        0
52  present  139      10      6        1
7    absent   37       3     16        0
64   absent  118       4     16        1
10  present   82       5     14        3
79  present   42       7      6        0
23   absent  131       2      3        1
59   absent  102       3     13        3
72   absent   87       4     16        3
19   absent   27       4      9        0
12   absent   18       5      2        0
41   absent   35       3     13        0
14   absent  168       3     18        2
37  present   52       5      6        0
51   absent    9       2     17        0
35   absent   93       3     16        3
15   absent    1       3     16        0
71   absent  127       4     12        1
24  present   15       7      2        0
55   absent   72       5     15        3
13   absent    1       4     12        0
68   absent   18       4     11        0
67   absent  159       4     13        2
2   present  128       4      5        1
74   absent   11       3     15        0
42   absent  143       9      3        1
70   absent  158       5     14        2
20   absent   22       2     16        0
49   absent  177       2     14        2
44   absent   97       3     16        3
16   absent   78       6     15        3
27   absent  100       3     14        3
36   absent    1       3      9        0
22  present   96       3     12        3
9   present   59       6     12        3
77   absent   26       7     13        0
46   absent  136       4     15        1
47   absent  131       5     13        1
53   absent    2       2     17        0
54   absent  140       4     15        1
73   absent  206       4     10        2
8    absent  113       2     16        1
43   absent   61       4      1        3