In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
housing = pd.read_csv('../Datasets/Housing.csv')

intervals = [(0,50000), (50000,100000), (100000,150000), (150000,200000)]
bins = pd.IntervalIndex.from_tuples(intervals)
housing['price_slab'] = pd.cut(housing['price'], bins)

intervals = [(0,5000), (5000,10000), (10000,15000), (15000,20000)]
bins = pd.IntervalIndex.from_tuples(intervals)
housing['area_slab'] = pd.cut(housing['lotsize'], bins)

housing.drop(['price', 'lotsize'], axis=1, inplace=True)
housing = housing.astype(object)
housing

,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea,price_slab,area_slab
0,3,1,2,yes,no,yes,no,no,1,no,"(0, 50000]","(5000, 10000]"
1,2,1,1,yes,no,no,no,no,0,no,"(0, 50000]","(0, 5000]"
2,3,1,1,yes,no,no,no,no,0,no,"(0, 50000]","(0, 5000]"
3,3,1,2,yes,yes,no,no,no,0,no,"(50000, 100000]","(5000, 10000]"
4,2,1,1,yes,no,no,no,no,0,no,"(50000, 100000]","(5000, 10000]"
...,...,...,...,...,...,...,...,...,...,...,...,...
541,3,2,4,yes,yes,no,no,yes,0,no,"(50000, 100000]","(0, 5000]"
542,3,2,4,yes,no,no,no,yes,0,no,"(50000, 100000]","(5000, 10000]"
543,3,2,4,yes,yes,no,no,yes,1,no,"(100000, 150000]","(5000, 10000]"
544,3,2,2,yes,yes,no,no,yes,1,no,"(100000, 150000]","(5000, 10000]"
545,3,1,2,yes,no,no,no,yes,1,no,"(100000, 150000]","(5000, 10000]"

In [3]:
hou_df = pd.get_dummies(housing, prefix_sep='=')
hou_df

,bedrooms=1,bedrooms=2,bedrooms=3,bedrooms=4,bedrooms=5,bedrooms=6,bathrms=1,bathrms=2,bathrms=3,bathrms=4,...,prefarea=no,prefarea=yes,"price_slab=(0, 50000]","price_slab=(50000, 100000]","price_slab=(100000, 150000]","price_slab=(150000, 200000]","area_slab=(0, 5000]","area_slab=(5000, 10000]","area_slab=(10000, 15000]","area_slab=(15000, 20000]"
0,False,False,True,False,False,False,True,False,False,False,...,True,False,True,False,False,False,False,True,False,False
1,False,True,False,False,False,False,True,False,False,False,...,True,False,True,False,False,False,True,False,False,False
2,False,False,True,False,False,False,True,False,False,False,...,True,False,True,False,False,False,True,False,False,False
3,False,False,True,False,False,False,True,False,False,False,...,True,False,False,True,False,False,False,True,False,False
4,False,True,False,False,False,False,True,False,False,False,...,True,False,False,True,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,False,False,True,False,False,False,False,True,False,False,...,True,False,False,True,False,False,True,False,False,False
542,False,False,True,False,False,False,False,True,False,False,...,True,False,False,True,False,False,False,True,False,False
543,False,False,True,False,False,False,False,True,False,False,...,True,False,False,False,True,False,False,True,False,False
544,False,False,True,False,False,False,False,True,False,False,...,True,False,False,False,True,False,False,True,False,False
545,False,False,True,False,False,False,True,False,False,False,...,True,False,False,False,True,False,False,True,False,False

In [4]:
from ipywidgets import widgets
def aura_farming(min_sup, thresh):
    itemsets = apriori(hou_df, min_support=min_sup, use_colnames=True)
    rules = association_rules(itemsets, metric='confidence', min_threshold=thresh)
    rules = rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']]
    return rules.sort_values(by=['confidence','lift'], ascending=False)

In [ ]:
widgets.interact(aura_farming, min_sup=(0.001,1,0.001), thresh=(0.001,1,0.001))

interactive(children=(FloatSlider(value=0.5, description='min_sup', max=1.0, min=0.001, step=0.001), FloatSlid…