In [1]:
from sentence_transformers import SentenceTransformer
from tqdm import tqdm
import pandas as pd
import numpy as np
import torch
from sklearn.metrics.pairwise import cosine_similarity
from transformers import AutoTokenizer, AutoModel

In [ ]:

# tokenizer =

using berts transformer. //
all-MiniLM-L6-v2

In [17]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer("sentence-transformers/all-MiniLM-L6-v2")

sentences = [
    "The weather is lovely today.",
    "Today class will be over at 3:30",
    "He drove to the stadium",
    "Tomorrow there won't be any class.",
    "She drove to the gym"
]

embeddings = model.encode(sentences)

similarities = model.similarity(embeddings, embeddings)
print(similarities.shape)
# [4, 4]

torch.Size([5, 5])

In [16]:
print(similarities)

tensor([[1.0000, 0.2484, 0.1058, 0.0967, 0.0630],
        [0.2484, 1.0000, 0.0725, 0.6234, 0.1193],
        [0.1058, 0.0725, 1.0000, 0.0446, 0.4892],
        [0.0967, 0.6234, 0.0446, 1.0000, 0.1157],
        [0.0630, 0.1193, 0.4892, 0.1157, 1.0000]])

1. load the netflix movie data set, titles.csv
2. we are going to form content based filtering based on movie description
3. check if all description of indian movies are not null
4. prepare embedding for each and every description
5. now input a query and do model.encode, search each and every embedding and see the similarity score and tabulate the score and sort them.

In [29]:
movies = pd.read_csv('titles.csv')
movies[movies['production_countries'] == "['IN']"]

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
19,tm94651,Dostana,MOVIE,Two close friends decide to enter law enforcem...,1980,NaN,161,"['drama', 'comedy', 'crime', 'romance', 'action']",['IN'],NaN,tt0080653,2.1,25.0,3.980,4.9
25,tm356209,Singapore,MOVIE,"When his employee disappears in Singapore, Shy...",1960,NaN,158,"['drama', 'thriller', 'crime']",['IN'],NaN,tt0268639,6.4,84.0,0.792,6.3
29,tm336403,Khoon Khoon,MOVIE,As a crazed killer blazes a trail of blood thr...,1973,NaN,131,"['crime', 'thriller']",['IN'],NaN,tt0230412,5.1,41.0,1.948,3.8
30,tm107372,Manoranjan,MOVIE,Havaldar Ratan is a rookie at the local police...,1974,NaN,162,"['romance', 'drama', 'comedy']",['IN'],NaN,tt0071811,6.5,237.0,1.532,5.3
31,tm358653,Ujala,MOVIE,An honest man dreams of a better life for his ...,1959,NaN,142,"['romance', 'crime', 'drama']",['IN'],NaN,tt0157132,6.6,78.0,0.840,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5788,tm987730,Tribhanga,MOVIE,"When her estranged mother falls into a coma, a...",2021,NaN,95,"['drama', 'family']",['IN'],NaN,tt11102314,6.2,2922.0,4.294,7.0
5795,tm988613,Madam Chief Minister,MOVIE,A political-drama where a young woman from a s...,2021,NaN,123,['drama'],['IN'],NaN,tt13773882,4.8,1769.0,2.301,6.7
5819,ts287729,Alma Matters: Inside the IIT Dream,SHOW,"In a ""nation of middle-class"" the IIT dream in...",2021,TV-MA,49,"['documentation', 'drama']",['IN'],1.0,tt14512938,8.3,2346.0,1.493,9.0
5821,tm1110241,Kaaval,MOVIE,Thampan and Antony are a long time best friend...,2021,NaN,148,"['thriller', 'action', 'drama']",['IN'],NaN,tt11182984,5.1,1497.0,1.978,5.3
5831,ts273317,Pitta Kathalu,SHOW,"Four different women, four journeys of love an...",2021,TV-MA,37,"['drama', 'romance']",['IN'],1.0,tt13878800,5.1,738.0,1.400,5.5

In [26]:
movies['production_countries']

0             ['US']
1             ['US']
2             ['US']
3             ['GB']
4       ['GB', 'US']
            ...
5845          ['NG']
5846              []
5847          ['CO']
5848          ['US']
5849              []
Name: production_countries, Length: 5850, dtype: object