In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer, make_column_selector
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report
from tqdm import tqdm
from sklearn.naive_bayes import BernoulliNB

In [25]:
df = pd.read_csv('../day5/car evaluation/car.data', header=None)
df.rename(columns={0:'buying', 1:"maint", 2:"doors",3:"persons",4:"lug_boot",5:"safety",6:"class"}, inplace=True)
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [26]:
X = df.drop('class', axis=1)
y = df['class']

X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=25, test_size=0.3, stratify=y)

In [27]:

ohe = OneHotEncoder(sparse_output=False, drop='first').set_output(transform='pandas')
trf = make_column_transformer((ohe, make_column_selector(dtype_include=object)), remainder='passthrough', verbose_feature_names_out=False)

In [28]:
nb = BernoulliNB()

pipe = Pipeline(steps=[
    ('onehot-column-transformer', trf),
    ('bernoulli-nb', nb)
])

pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         acc       0.56      0.46      0.51       115
        good       0.36      0.19      0.25        21
       unacc       0.84      0.94      0.89       363
       vgood       0.60      0.15      0.24        20

    accuracy                           0.78       519
   macro avg       0.59      0.44      0.47       519
weighted avg       0.75      0.78      0.75       519