In [18]:
import pandas as pd
import numpy as np
from sklearn.compose import make_column_transformer, make_column_selector
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report, accuracy_score
from sklearn.naive_bayes import GaussianNB 
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [19]:
df = pd.read_csv('../Datasets/cases/Human_Resources_Analytics/HR_comma_sep.csv')
df.head()

   satisfaction_level  last_evaluation  ...  Department  salary
0                0.38             0.53  ...       sales     low
1                0.80             0.86  ...       sales  medium
2                0.10             0.77  ...       sales     low
3                0.92             0.85  ...       sales     low
4                0.89             1.00  ...       sales     low

[5 rows x 10 columns]

In [ ]:

X = df.drop('left', axis=1)
y = df['left']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 25, stratify=y)

In [21]:
ohe = OneHotEncoder(sparse_output=False, drop='first').set_output(transform='pandas')
ohe_trf = make_column_transformer((ohe, make_column_selector(dtype_include=object)), verbose_feature_names_out=False, remainder='passthrough')
std = StandardScaler()
# std_trf = 
pipe = Pipeline([
    ('ohe_trf', ohe_trf),
    ('kernel_nb', GaussianNB())
    ])

pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
accuracy_score(y_test,y_pred)

0.7141587019337631

##### WITH STANDARD SCALER

In [22]:
ohe = OneHotEncoder(sparse_output=False, drop='first').set_output(transform='pandas')
ohe_trf = make_column_transformer((ohe, make_column_selector(dtype_include=object)), verbose_feature_names_out=False, remainder='passthrough')
std = StandardScaler()
pipe = Pipeline([
    ('ohe_trf', ohe_trf),
    ('std_trf', std),
    ('kernel_nb', GaussianNB())
    ])

pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
accuracy_score(y_test,y_pred)

0.7141587019337631