## Seasonal ARIMA

In [5]:
from statsmodels.tsa.arima.model import ARIMA

import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import root_mean_squared_error
from ipywidgets import widgets

In [6]:
df = pd.read_csv('../Datasets/monthly-beer-production-in-austr.csv')
y_train = df['Monthly beer production'].iloc[:-12]
y_test = df['Monthly beer production'].iloc[-12:]

In [ ]:
def SARIMA(p, d, q, P, D, Q, S):
    model = ARIMA(y_train,  order=(p,d,q), seasonal_order=(P,D,Q,S))
    model_fit = model.fit()
    predictions = model_fit.predict(start=len(y_train), end=len(y_train)+len(y_test)-1)
    y_test.plot(color='pink', label='Test')
    predictions.plot(color='purple', label='Forecast')
    rmse = root_mean_squared_error(y_test, predictions)
    plt.title(f"RMSE: {rmse}")
    plt.legend(loc='best')
    plt.show()

In [8]:
widgets.interact(SARIMA, p=(0,5,1), d=(0,5,1), q=(0,5,1), P=(0,5,1), D=(0,5,1), Q=(0,5,1), S=(1,24,1))

interactive(children=(IntSlider(value=2, description='p', max=5), IntSlider(value=2, description='d', max=5), …

# BUNDESBANK

In [ ]:
from statsmodels.tsa.arima.model import ARIMA

df = pd.read_csv('../Datasets/BUNDESBANK-BBK01_WT5511.csv')
y_train = df['Value'].iloc[:-12]
y_test = df['Value'].iloc[-12:]

           Date    Value
0    30-04-1968    39.10
1    31-05-1968    42.00
2    30-06-1968    40.95
3    31-07-1968    38.90
4    31-08-1968    39.85
..          ...      ...
572  31-12-2015  1062.25
573  31-01-2016  1112.90
574  29-02-2016  1234.15
575  31-03-2016  1233.60
576  30-04-2016  1237.70

[577 rows x 2 columns]

In [10]:
def SARIMA(p, d, q, P, D, Q, S):
    model = ARIMA(y_train,  order=(p,d,q), seasonal_order=(P,D,Q,S))
    model_fit = model.fit()
    predictions = model_fit.predict(start=len(y_train), end=len(y_train)+len(y_test)-1)
    y_test.plot(color='pink', label='Test')
    predictions.plot(color='purple', label='Forecast')
    rmse = root_mean_squared_error(y_test, predictions)
    plt.title(f"RMSE: {rmse}")
    plt.legend(loc='best')
    plt.show()

In [11]:
widgets.interact(SARIMA, p=(0,5,1), d=(0,5,1), q=(0,5,1), P=(0,5,1), D=(0,5,1), Q=(0,5,1), S=(1,24,1))

interactive(children=(IntSlider(value=2, description='p', max=5), IntSlider(value=2, description='d', max=5), …