In [22]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [23]:
fp_df = pd.read_csv('../Datasets/Faceplate.csv', index_col = 0)
fp_df.head()

             Red  White  Blue  Orange  Green  Yellow
Transaction
1              1      1     0       0      1       0
2              0      1     0       1      0       0
3              0      1     1       0      0       0
4              1      1     0       1      0       0
5              1      0     1       0      0       0

In [24]:
fp_df = fp_df.astype(bool)
itemsets = apriori(fp_df, min_support=0.2, use_colnames=True)
rules = association_rules(itemsets, metric='confidence', min_threshold=0.5)
rules = rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']]
rules

       antecedents   consequents  support  confidence      lift
0          (White)         (Red)      0.4    0.571429  0.952381
1            (Red)       (White)      0.4    0.666667  0.952381
2           (Blue)         (Red)      0.4    0.666667  1.111111
3            (Red)        (Blue)      0.4    0.666667  1.111111
4          (Green)         (Red)      0.2    1.000000  1.666667
5          (White)        (Blue)      0.4    0.571429  0.952381
6           (Blue)       (White)      0.4    0.666667  0.952381
7         (Orange)       (White)      0.2    1.000000  1.428571
8          (Green)       (White)      0.2    1.000000  1.428571
9    (White, Blue)         (Red)      0.2    0.500000  0.833333
10    (White, Red)        (Blue)      0.2    0.500000  0.833333
11     (Blue, Red)       (White)      0.2    0.500000  0.714286
12  (White, Green)         (Red)      0.2    1.000000  1.666667
13    (White, Red)       (Green)      0.2    0.500000  2.500000
14    (Green, Red)       (White)      0.2    1.000000  1.428571
15         (Green)  (White, Red)      0.2    1.000000  2.500000

In [27]:
from ipywidgets import widgets

def ass_rule(supp, thresh):
    fp_df = pd.read_csv('../Datasets/Faceplate.csv', index_col = 0)
    fp_df = fp_df.astype(bool)
    itemsets = apriori(fp_df, min_support=supp, use_colnames=True)
    rules = association_rules(itemsets, metric='confidence', min_threshold=thresh)
    rules = rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']]
    return rules

In [ ]:
widgets.interact(ass_rule, supp=(0.01, 1, 0.01), thresh=(0.01, 1, 0.01))

interactive(children=(FloatSlider(value=0.5, description='supp', max=1.0, min=0.01, step=0.01), FloatSlider(vaâ€¦